@import "normalize";
@import "grid";
@import "themes/default/master";

#root, #container {
	button.create{
		margin-bottom: 8px;
	}

	.board{
		border-radius: 20px;
		margin: 8px;
		background-color: #b9def0;
		height: auto;
		width: auto;
		padding: 8px;

		.commentContainer {
			background: #eee;
			border: 1px solid #ccc;
			display: inline-block;
			margin: 8px;
			padding: 16px;
			border-radius: 20px 10px;
			box-shadow: 10px 10px 5px #888888;

			.comment {
				font-size: 1.1em;
				font-weight: 500;
				margin-bottom: 10px;
			}

			button {
				margin-right: 6px;
			}

			textarea {
				display: block;
				margin-bottom: 10px;
			}
		}

	}
	
	.welcome{
		text-align: center;
		color: darkgoldenrod;
		box-shadow: inset 3px 3px 30px 1px #888;
	}

}
